@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(90deg, rgb(136, 0, 255), rgb(213, 130, 238));
}

.container{
    max-width: 80vw;
    font-family: 'Montserrat',sans-serif;
}

header div{
    font-size: 23px;
}

nav{
    cursor: pointer;
}

.navbar{
    display: flex;
    height: 60px;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
    font-size: 15px;
}

.topleft{
    width: 50%;
    height: 50vh;
}

.topleft img{
    width: 200px;
    height: 65px;
    margin-bottom: 25px;
}

.topleft h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.topright{
    width: 50%;
    height: 50vh;
}

.btn{
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(120deg, rgb(255, 136, 0), rgb(255, 187, 0));
    border: 1px solid black;
    outline: 1px solid black;
}

.btn:hover{
    background-image: linear-gradient(120deg, rgb(255, 111, 0), rgb(255, 60, 0));
    transition: .4s ease-in-out;
}

.topright img{
    width: 30vw;
    height: 45vh;
    margin-top: 12px;
}

.section2 h2{
    font-size: 1.2rem;
    font-weight: 500;   
}

.section2 p a{
    text-decoration: none;
}

.boxes{
    margin-bottom: 10px;
}

.box{
    margin: 12px 22px;
    min-width: 23vw;
    border: 1px solid black;
    border-radius: 8px;
}

.box h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
}

.box ul{
    list-style: none;
}

.box ul li{
    margin: 12px 2px;
}

.box ul img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btn1{
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(47, 255, 109);
    border: 1px solid black;
    outline: 1px solid black;
}

.btn1:hover{
    background-color: rgb(162, 255, 0);
    transition: .4s linear;
}

.section3 h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.content{
    justify-content: space-around;
}

.box1{
    margin: 12px 22px;
    min-width: 35vw;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px 3px;
}

.box1 ul{
    list-style: none;
}

.box1 ul li{
    margin: 12px 2px;
}

.box1 h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

.section3 p a{
    text-decoration: none;
}

footer{
    padding: 23px;
    text-align: center;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

@media (max-width: 768px) {
    .section1,
    .section2,
    .section3 {
        padding: 10px 0;
    }

    header ul li .btn{
        padding: 4px;
        border-radius: 14px;
    }

    .boxes {
        flex-direction: column;
    }

    .box {
        flex-basis: 100%;
    }

    .btn,
    .btn1 {
        width: 100%;
    }
    .section1 .topleft,.topright{
        height: 40vh;
    }
    .section1 .topright img{
       display: none;
    }
    .section1 .topleft{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    header .logo{
        font-size: 0.8rem;
        max-width: 40px;
    }
}
