// Using Utility classes makes easy for styling the page
.min-h-screen{
    min-height: 170vh;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.font-bold{
    font-weight: 500;
}

.flex-col{
    flex-direction: column;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-1{
    padding-left: 13px;
    padding-right: 13px;
}

.text-color{
    color: rgb(230, 216, 14);
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.logo{
    font-size: 1.3rem;
}
